body {
    background-color: #1259b5;
    color: white !important;
    padding: 2%;
}

.colums {
    padding: 10%;
}

.navbar-light {
    background-color: rgb(26, 59, 170) !important;
    color: white;
}

a {
    color: white !important;
}